{% extends 'course/base.html' %}

{% block title %} Course About {% endblock %}


{% block body %} 

<div class="container my-4"> 
    <div class="row row-cols-12 row-cols-sm-12 row-cols-md-12 g-3 py-4">
        <div class="col boxDesign">
            <div class="card shadow-sm">
                <h3 class="my-4 text-center">About Our University</h3>
                <div class="card-body">
                    <p class="card-text">
                        The need for an open university in Bangladesh was felt long ago. The history of distance education in Bangladesh dates back to 1956 when the Education Directorate was assigned with the responsibility for distribution of 200 radio receivers to educational institutions. This led to the creation of an Audio-Visual Cell, which was upgraded to the Audio-Visual Education Centre in 1962. No further progress in distance education was made till 1971.
                        After Independence, Bangladesh faced the challenge of meeting the educational needs of mass people. To meet this challenge the necessity for a new mode of education was widely felt. As a sequel to that feeling, the School Broadcasting Pilot Project was launched in 1978. The project was transformed into National Institute of Educational Media and Technology (NIEMT) in 1983.                        
                        NIEMT was later replaced by the Bangladesh Institute of Distance Education (BIDE) in 1985. Apart from producing audio-visual materials, BIDE offered the Bachelor of Education (B.Ed) program in distance mode. The success of BIDE encouraged policymakers to take up a major plan for establishing an open university. The plan became a reality in October 1992 when the Bangladesh Open University Act 1992 was passed in the Parliament.
                    </p>    
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col boxDesign">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        <h5><strong >DR. Sharker Md. Numan</strong></h5>
                        Dean and Professor (Medical Science) <br>
                        Phone: 9006141, 09666-730730 Ex. 685(off).9006141 (Res) <br>
                        Mobile: 0172-7210110 <br>
                        Fax: 9291111 <br>
                        E-mail: numan@bou.edu.bd <br>
                        sharkermd_numan@yahoo.com
                    </p>                    
                </div>
            </div>
        </div>
        <div class="col boxDesign">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        <h5><strong>Dr. K. M. Rezanur Rahman</strong></h5>
                        Professor <br>
                        Phone: 09666-730730 Ex. 686 <br>
                        Fax: 9291111 <br>
                        E-mail: drkmrezanur@yahoo.com <br> <br> <br> <br>
                     </p>                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}