{% extends 'admin.html' %}
{% load static %}

{% block title %} Add Routines {% endblock %}

{% block head %} 
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/login-sign-up-style.css' %}"> 
{% endblock%}

{% block style %} 
.btn-color {
    border-color: #3498db;
    color: #3498db;
}

.btn-color:hover {
    color: #fff;
    background-color: #3498db;
}

ul {
    list-style: none;
}
.errorlist li {
    color: red;
}



{% endblock %}

{% block dashboardBody %} 
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <br> 
        <div class="alert mymsg alert-{{ message.tags }} alert-dismissible fade show mx-0" role="alert">
            <strong> {{ message }} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-4">
            <div class="wrapper add_studyCenter">
                <h4 class="text-center alert alert-info name"> Add Routines </h4>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <button class="btn btn-color" type="submit"> Add Routines </button>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-7 offset-lg-1"> 
            <div class="studyCenter_details">
                <h4 class="text-center alert alert-info name"> Show Routines </h4>
                <table id="datatablesSimple" class="table table-hover ">                    
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Routine Name</th>
                            <th>Routine File</th>                       
                            <th>Edit</th>                          
                            <th>Delete</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in routine %}   
                            <tr>
                                <td> {{i.routine_of_the_course}} </td>
                                <td> {{i.routine_name}} </td>
                                <td> 
                                    <a href="/media/{{ i.routine_file}}" download class="mx-4">
                                        <button id="" class="btn btn-color">
                                            <i class="fas fa-solid fa-download"></i> 
                                        </button>
                                    </a>
                                    
                                </td>
                                <td> 
                                    <a href="{% url 'update_routine' i.routine_id %}" class="btn btn-warning btn-sm px-3" style="color: #fff"> <i class="fas fa-eye"></i> </a>                                    
                                </td>                                    
                                <td> 
                                    <form action="{% url 'delete_routine' i.routine_id %}" method="post"> 
                                        {% csrf_token %} 
                                        <button type="submit" class="btn btn-danger btn-sm px-3"> <i class="fas fa-trash-alt"></i> </button>
                                    </form> 
                                </td>                         
                            </tr>  
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}