{% extends 'dashboardBase.html' %}

{% block title %} Admin {% endblock %}
{% block head %} {% endblock%}
{% block style %} 

.btn-color {
    border-color: #3498db;
    color: #3498db;
}

.btn-color:hover {
    color: #fff;
    background-color: #3498db;
}


{% endblock %} 

{% block navBrand %}  
<a class="navbar-brand ps-3" href="/account/admin"> <img src="https://dcsa.moshiurrahman.net/static/course/img/logo-r.png" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px">  {{ user.username }} </a> 
{% endblock%}


{% block nav %}
<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="/account/admin">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Dashboard
    </a> 
    <div class="sb-sidenav-menu-heading">Interface</div>
    <a class="nav-link" href="{% url 'add_instructor' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div> 
        Register Instructor
    </a>
    <a class="nav-link" href="{% url 'add_learner' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        Register Learner 
    </a>
    <a class="nav-link" href="{% url 'assign_course' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        Assign Course 
    </a>
        
    <div class="sb-sidenav-menu-heading">Addons</div>
    <a class="nav-link" href="{% url 'add_course' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div> 
        Register Course 
    </a>
    <a class="nav-link" href="{% url 'add_studyCenter' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
        Register Study Center
    </a> 
    <a class="nav-link" href="{% url 'add_books' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
        Register Books 
    </a> 
    <a class="nav-link" href="{% url 'add_routines' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div> 
        Register Routines 
    </a>
    <a class="nav-link disabled" href="{% url 'learnernotes' %}"> 
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Helper Links
    </a>
</div>
{% endblock %}
 
{% block dashboardBody %}
<main> 
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row"> 
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Total Instructor</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Area Chart Example {% endcomment %}
        <div class="row">
            <div class="col-xl-5">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-book me-1"></i>
                        Courses By BOU
                    </div>
                    <div class="card-body">  
                        {% for centerstudy in course_bou %}                               
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{centerstudy.course_name}} <a href="/courseDetails/{{centerstudy.id}}" style="float: right"><button id="course{{i.id}}" class="btn btn-color">View Details</button></a></h5>                                        
                                    </div>
                                </div>                                                     
                        {% endfor %}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas <i fa-duotone fa-calendar-day me-1"></i>
                        Routines By BOU
                    </div>
                    <div class="card-body">  
                        <h5 class="card-title"> Class routine: Diploma in Computer Science and Application (DCSA) Program </h5>
                        <table class="table table-hover table-striped">                    
                            <thead>
                            </thead>
                            
                            <tbody>
                                {% for centerstudy in dcsa_routine %}   
                                <tr>
                                    <td> {{centerstudy.routine_name}} </td>
                                    <td> 
                                        <a href="/media/{{ centerstudy.routine_file}}" download style="float: right">
                                            <button id="" class="btn btn-color">
                                                <i class="fas fa-solid fa-download"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>         
                                {% endfor %}
                            </tbody>
                        </table>                      
                                                     
                        <h5 class="card-title mt-4"> Class routine: B. Sc in Computer Science and Engineering Program </h5>
                        <table class="table table-hover table-striped">                    
                            <thead>
                            </thead>                            
                            <tbody>
                                {% for centerstudy in cse_routine %}   
                                <tr>
                                    <td> {{centerstudy.routine_name}} </td>
                                    <td> 
                                        <a href="/media/{{ centerstudy.routine_file}}" download style="float: right">
                                            <button id="" class="btn btn-color">
                                                <i class="fas fa-solid fa-download"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>         
                                {% endfor %}
                            </tbody>
                        </table>    
                        <a href="{% url 'add_routines' %}"> <button class="btn btn-color mt-3"> Register Routine </button> </a>
                    </div>
                </div>
            </div>
        
            {% comment %} Study Center Details Table {% endcomment %}
            <div class="col-xl-7">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-school me-1"></i>
                        Study Center Details
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple1" class="table table-hover table-striped">                    
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Study Center Code</th>
                                    <th>Study Center Name</th>
                                    <th>Location</th>                          
                                </tr>
                            </thead>
                            <tbody>
                                {% for centerstudy in study_center %}                
                                    <tr>
                                        <td> {{ centerstudy.s_course_name }} </td>
                                        <td> {{ centerstudy.studyCenter_code }} </td>
                                        <td> {{ centerstudy.studyCenter_name }}  </td>
                                        <td> {{ centerstudy.studyCenter_location }}  </td>                                    
                                    </tr>  
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'add_studyCenter' %}"> <button class="btn btn-color mt-3"> Register Study Center </button> </a>
                    </div>
                </div>
            </div> 
        </div>

        {% comment %} Course Details Table {% endcomment %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Course Details
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="table table-hover table-striped">                    
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Course Designed By</th>
                            <th>Course Category</th>
                            <th>Course Sub Category</th>
                            <th>Course Release Date</th>                            
                            <th>Course Price</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for centerstudy in course_center %}     
                        <tr>
                            <td> {{ centerstudy.course_name }} </td>
                            <td> {{ centerstudy.course_designed_by }} </td>
                            <td> {{ centerstudy.category }} </td>
                            <td> {{ centerstudy.subcategory}} </td>
                            <td> {{ centerstudy.release_date}} </td>
                            <td> {{ centerstudy.course_price }} </td>
                        </tr>         
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% comment %} Course Details Table {% endcomment %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Contact Details
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped">                    
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>Contact Message</th>                         
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for centerstudy in contact %}     
                        <tr>
                            <td> {{ centerstudy.contact_name }} </td>
                            <td> {{ centerstudy.contact_email }} </td>
                            <td> {{ centerstudy.contact_phone }} </td>
                            <td> {{ centerstudy.contact_desc}} </td>
                        </tr>         
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>  
{% endblock %}

{% block script %} {% endblock %} 