{% extends 'course/base.html' %}
{% load static %}

{% block head %}
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/login-sign-up-style.css' %}"> 
{% endblock%}

{% block title %} Reset Password Done {% endblock %} 

{% block body %} 
<div class="row justify-content-center"> 
    <div class="wrapper authenticationForm"> 
      <div class="logo"> <img src="https://dcsa.moshiurrahman.net/static/course/img/logo-r.png" alt="" style="width: 100px; height: auto"> </div>
      <div class="text-center mt-4 name"> Reset Password Done </div>  

      <h1> A link is given to your mail account, check your mail. </h1>
    </div>
</div>
{% endblock %}

{% block js %} {% endblock %} 